/*
  Como a aplcação é pequena resumi o estilo de todos os componentes em um arquivo só
  Para aplicações maiores faz-se necessário o uso de varios arquivos de estilo, geralmente um para cada componente
*/

@import '_normalize.styl'
@import '_typography.styl'

// Home

.home-img
  margin-top 90px

body
  background offwhite
  margin 0
  padding 0

.header-container
  background-color: #00be8f
  padding: 20px 10px
  display: flex
  align-items: center
  position fixed
  width 100%

.header-title
  margin 0
  color: white

.header-title-wrapper
  display flex
  align-items center

.header-logo
  width: 40px
  margin-right 10px

.search-form
  margin 0 auto
  margin-left 20px

.search-input
  border none
  width 500px
  height 40px
  padding 10px
  font-size 18px
  transition all 200ms
  border-radius 3px 0 0 3px
  color: gray
  border 1px solid white
  &:focus 
      outline none

.btn-search
  color gray
  background-color white
  border none
  border-left 1px solid #d6d6d6
  border-radius 0 3px 3px 0
  line-height 2em
  &:hover
    border-color transparent
    background-color lightgray
    outline 0
 &:focus
    border-color transparent
    background-color lightgray
    outline 0

// profile

.left-col
  width 25%
  border-right 2px solid #dedcdc
  padding 0 25px
  margin-top 50px

.profile-container
  display flex
  flex-direction column
  align-items center

.profile-image
  width 100px
  border-radius 50px

.profile-name
  font-size 24px
  font-weight bold
  color #292929
  margin 6px 0
  text-align center

.profile-about
  text-align center
  color #afb5b6
  margin 0

.btn-green
  font-size 18px
  text-decoration none
  color #00be8f
  border 2px solid #00be8f
  border-radius 3px
  text-align center
  margin-top 15px
  transition all 200ms
  padding 7px
  &:hover
    color white
    background-color #00be8f

.info-container
  display flex
  margin-top 30px
  justify-content space-around
  & > .info-statics ~ .info-statics
    border-left 2px solid #eaeaea

.info-statics 
  display flex
  flex-direction column
  align-items center
  padding 0 15px

.info-number
  font-size 25px
  color #2e2e2e

.info-sub 
  margin 0
  font-size 12px
  color #9d9e9e
  white-space nowrap

.other-info
  margin-top 50px

.other-info-title
  font-weight bold
  color #313131

.other-info-item
  font-size 12px
  color #00be8f


// Reopositorios

@keyframes fade-down {
    0%   {
      transform translateY(5%)
      opacity 0
    }

    100% {
      transform translateY(0%)
      opacity 1
      }
}

.rep-link 
  text-decoration none
  color #00be8f


.right-col
  margin-top 50px
  margin-left 30px
  &__title
    margin-left 10px
    color #292929

.repos-wrapper
  display flex
  flex-wrap wrap

.rep-container 
  margin: 8px
  padding: 10px
  border: 2px solid lightgrey
  width 200px
  transition all 200ms
  &:hover
    cursor pointer
    transform translateY(-3%)
    box-shadow 0px 0px 15px 3px #d3d3d3

.rep-label
  font-size: 10px
  color: gray

.rep-name
  a
    margin: 0
    color: #00be8f


.comments
  padding-bottom 25px
  border-bottom 1px solid lightgray

  // LEGADO

.default-margin-top
  margin-top 40px

.photo-grid
  display flex
  max-width 1200px
  margin 0 auto
  padding-top 70px
  animation fade-down 2s 1

// Comments


.remove-comment
  border 0
  margin 0 10px
  background-color red
  color white
  border-radius 5px
  padding 7px 18px

.edit-comment
  border 0
  background-color #cec500
  color white
  border-radius 5px
  padding 7px 18px


.comment
  border-bottom 1px solid lightgrey
  padding 0.5rem 0
  animation fade-down 500ms 1
  p
    font-size 1.2rem
    margin 0
    display flex
    flex-direction column
  strong
    color #00be8f
    margin-right 5px
    font-size 15px
 
@keyframes open {
    0%   {
      height 0px
      padding 0
      opacity 0
    }

    100% {
      height 172px
      padding 10px
      opacity 1
      }
}

.comment-form 
  border 1px solid lightgray
  padding 10px
  border-radius 4px
  overflow hidden

.comment-edit-form 
  @extend .comment-form
  animation open 400ms ease 1
  animation-fill-mode:forwards

.comment-form, .comment-edit-form
  input, textarea
    width 100%
    border 0
    font-size 1.3rem
    padding 10px
    border-bottom 1px solid lightgrey
    outline none
    resize vertical
    background transparent
    


.grid-photo-wrap
  position relative

/*  
  Buttons  
*/

.control-btn-wrapper
  margin 10px 0

button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 48%
  display inline-block
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  transition all 0.2s
  box-sizing padding-box


  // Resposividade customizada --Sem grids--
  
@media screen and (max-width: 1024px) 

  html
    font-size 12px
    font-family sans-serif

  .photo-grid
    flex-direction column
  
  .left-col
    width: initial
    border none
    padding 0
    margin 50px
  
  .other-info
    display none

  .search-input
    width initial
    border none
    border-radius: 3px
  
  .right-col
    margin 50px
  
  .rep-container 
    margin 5px
    padding 10px
    border 2px solid #d3d3d3
    width 212px
  
  .info-container
    justify-content center

  .search-form
    position relative
  
  .btn-search
    position absolute
    right 0



@media screen and (max-width: 500px) 

  .photo-grid
    padding-top 75px
  
  .header-title
    display none
    
  .search-form
    margin 0 auto

  .right-col
    margin 20px
  
  .rep-container
    width 100%
    margin 10px 0